{% macro list_pages(pages) -%} 
    <ul>
    {% for page in pages %}
        <li><a href="{{page.name}}">{{page.title}}</a>
            {% if page.date_formatted %}
                - {{ page.date_formatted }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{%- endmacro  %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>My simple website</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spcss@0.8.0" />
    </head>
    <body>
        <div id="header">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/page-list.html">Pages</a>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

